.add_folder_page {
    display: flex;
}

.add_folder_form {
    margin: 0;
    padding: 1em;
    width: 75%;
    text-align: center;
}

.folder_name_label {
    display: block;
}

.folder_name_input {
    margin-bottom: 8px;
}

.add_folder_button_group button {
    border: 1px solid black;
    background-color: white;
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    width: 70px;
}