.add_note_page {
    display: flex;
}

.add_note_form {
    margin: 0;
    padding: 1em;
    width: 75%;
    text-align: center;
}

.form_group {
    display: flex;
    flex-direction: column;
    
}

.form_group label {
    text-align: left;
}